<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>

            <h1>Ejs Home page <%='hello' .toUpperCase()%>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae, molestias inventore ullam laborum
                dolores
                iusto tempora, ut rem corrupti officia ad illum velit aut obcaecati nemo aliquam! Enim, eos.
                Animi ducimus vero quam rem doloremque consequuntur voluptates cum itaque nemo dolorum accusantium
                quibusdam,
                omnis dignissimos commodi deleniti nulla consectetur optio, perferendis nisi dolore aut. Est accusamus
                sint
                voluptas commodi!
                Necessitatibus nihil odio doloribus corporis impedit possimus rem, rerum numquam nostrum quasi
                voluptatibus
                corrupti tempore laboriosam, maiores vitae quos ad reprehenderit consequuntur qui consectetur. Veniam
                voluptate
                quas nobis earum quidem?</p>

    </body>

    </html>