<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>

            <h1>List of students</h1>
            <%for(let student of students){ %>
                <ul>
                    <li>
                        <%= student %>
                    </li>
                </ul>

                <%}%>


    </body>

    </html>